<?xml version="1.0" encoding="utf-8"?>
<!-- 
 Copyright 2013 Pierre Reliquet©
 
 Loans Manager is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation, either version 3 of the License, or (at your option) any
 later version.

 Loans Manager is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.
 
 You should have received a copy of the GNU General Public License along with
 Loans Manager. If not, see <http://www.gnu.org/licenses/>
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pierrrrrrrot.loanmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="org.pierrrrrrrot.loanmanager.Menu"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.pierrrrrrrot.loanmanager.activities.AddLoan"
            android:label="@string/menu_add_loan"
            android:parentActivityName="org.pierrrrrrrot.loanmanager.Menu"
            android:screenOrientation="portrait" 
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pierrrrrrrot.loanmanager.activities.Menu" />
        </activity>
        <activity
            android:name="org.pierrrrrrrot.loanmanager.activities.ListBorrowers"
            android:label="@string/title_activity_list_borrowers"
            android:parentActivityName="org.pierrrrrrrot.loanmanager.Menu" 
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pierrrrrrrot.loanmanager.activities.Menu" />
        </activity>
        <activity
            android:name="org.pierrrrrrrot.loanmanager.activities.ListLoans"
            android:label="@string/title_activity_list_loans"
            android:parentActivityName="org.pierrrrrrrot.loanmanager.Menu" 
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pierrrrrrrot.loanmanager.activities.Menu" />
        </activity>
        <activity
            android:name="org.pierrrrrrrot.loanmanager.activities.ListProducts"
            android:label="@string/title_activity_list_products"
            android:parentActivityName="org.pierrrrrrrot.loanmanager.Menu" 
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pierrrrrrrot.loanmanager.Menu" />
        </activity>
        <activity
            android:name="org.pierrrrrrrot.loanmanager.activities.CloseLoan"
            android:label="@string/title_activity_close_loan"
            android:parentActivityName="org.pierrrrrrrot.loanmanager.Menu"
            android:screenOrientation="portrait"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pierrrrrrrot.loanmanager.Menu" />
        </activity>
    </application>

</manifest>